
  body {
    background-color: rgba(255, 255, 128, .5);
  }
h1 {
  color: #66BFBF;
}
h2 {
  color: #66BFBF;
}
h3 {
  color: #66BFBF;
}

  hr {
    background-color: rgba(255, 255, 128, .5);
    border-width: 5px;
    height: 5px;
    width: 10%;
    border-style: none;
    border-top-style: dotted;
  }
